$primary: #162d3a;
$secondary: "green";
$error: "red";
$info: "yellow";
$dimmed: #555555;
$border: #d4d7e3;
$input-bg: #f3f7fb;
$link: #1e4ae9;
$text-gray: #294957;
$separator-bg: #cfdfe2;
$sso-bg: #f3f9fa;
$text-secondary: #313957;
$text-copyright: #959cb6;
